
html {
    font-size: 16px;
}

/* Helper */
.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.foto-perfil {
    display: block;
    margin-left: 15%;
    margin-right: auto;
    width: 60%;
}
.nombre {
    font-size: 3rem;
    margin-left: 5%;
    margin-bottom: 1%;
    font-weight: bold;
}
#cargo {
    font-size: 1.3rem;
    margin-left: 5%;
    margin-top: 5%;
    letter-spacing: 0.3rem;
}
ul {
    margin-top: 0;
    font-size: 1.2rem;
}

#contact {
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
}

#contact > p {
    /*margin: 1.8rem;*/
    font-size: 1.3rem;
    padding: 0.1rem;
    margin: 0.1rem;
}

ul > li {
    list-style: "-";
    padding: 2px;
    width: 85%;
}
p {
    width: 85%;
    font-size: 1.2rem;
    text-align: justify;

}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FEFEFA;
    font-family: sans-serif;
}

.justificado {
    text-align: justify;
    margin-left: 5%;
    margin-top: 0;
    font-size: 1.2rem;
}

hr {
    width: 85%;
    height: 3px;
    margin-left: 5%;
    background-color: white;
}

h4 {
    font-size: 1.5rem;
    margin-left: 5%;
    letter-spacing: 0.1rem;
}

.info-general-h4 {
    margin: 0;
    padding: 0;
}

.info-general-ul {
    margin: 0;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    padding: 0;
}
h3 {
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}
.info-personal {
    width: 35%;
    background-color: #494E5F;
    padding-top: 6.5rem;
    padding-bottom: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    color: white;
}

.info-general {
    width: 65%;
    font-family: sans-serif;
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    color: black;
}

.historical {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5rem;
    padding-left: 2rem;
    background-color: #ffd387;
}

article {
    margin-top: 0.5rem;
    margin-bottom: 1.9rem;
}